
ul.nav li{
    display: inline-block;
    padding-right: 10px;
}
header {
text-align: center;
background: #111;
background-size: cover;
color: white;
}

ul {
  padding: 20px;
  background: #00BFFF;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

body {
  text-align: center;
  background-image: img("ZIF8.png");
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
  }

.dropbtn {
    background-color: #00BFFF;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00BFFF;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00BFFF;
    min-width: 10px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #111;}
.show {display: block;}

#sponsors {
    min-width: 200px;
    height: auto;
}
/*
img {
   height: 100px;
   width: 200px;
}*/
